{% extends '_base.html' %}

{% block title %}
    <title>Instagram - Profile</title>
{% endblock %}

{% block header %}
    <div class="header-label">
        <strong>Create Post</strong>
    </div>
    <div class="paper-kite">
        <a href="{{url}}"><i class="icofont-logout"></i></a>
    </div>
{% endblock %}

{% block feeds %}
    <div class="new-post-container">
        <img class="new-post-image" src="https://4.bp.blogspot.com/-MowVHfLkoZU/VhgIRyPbIoI/AAAAAAAATtE/qHST4Q2YCCc/s1600/placeholder-image.jpg">
        <form action="{{ create_post_url }}" method="POST" enctype="multipart/form-data">
            <div class="caption-container">
                <div class="icons">
                    <img class="active-profile-icon" src="{{profile_image_url}}">
                </div>
                <div class="post-caption">
                    <input type="text" name="post_caption" placeholder="Add a caption to post...">
                </div>
                <div class="icons">
                    <input type="submit" value="Post" name="button" class="text-white bg-info">
                </div>
            </div>
            <div class="file-container">
                <input class="file" type="file" name="uploads">
            </div>
        </form>
    </div>
{% endblock %}
