{% extends '_base.html' %}

{% block title %}
    <title>Instagram - Edit Profile</title>
{% endblock %}

{% block header %}
    <div class="header-label">
        Create Profile
    </div>
    <div class="paper-kite">
        <a href="{{url}}"><i class="icofont-logout"></i></a>
    </div>
{% endblock %}

{% block feeds %}
    <form action="/edit-profile" method="POST">
        <div class="form-row">
            <div class="form-group col-md-12 upload-profile-image-view">
                <img class="profile-image-icon" src="https://www.itl.cat/pngfile/big/43-430987_cute-profile-images-pic-for-whatsapp-for-boys.jpg">
                <div class="file-container">
                    <input type="file">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="lastname"></label>
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                {% if has_params %}
                    {% if lastname == "" %}
                        <small class="text-danger">*** Lastname is required</small>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="firstname"></label>
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
                {% if has_params %}
                    {% if firstname == "" %}
                        <small class="text-danger">*** Firstname is required</small>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="username"></label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                {% if has_params %}
                    {% if username == "" %}
                        <small class="text-danger">*** Username is required</small>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-row mb-5 mt-3">
            <div class="form-group col-md-12">
                <input type="submit" class="btn btn-block btn-info" name="button" value="Save Profile">
            </div>
        </div>
    </form>
{% endblock %}
