{% extends '_base.html' %}

{% block title %}
    <title>Instagram - Timeline</title>
{% endblock %}

{% block header %}
    <div class="camera-text">
        <i class="icofont-ui-camera"></i> <span style="font-family: 'Cookie', cursive; font-size: 28px; text-transform: capitalize; padding-left: 10px;">instagram</span>
    </div>
    <div class="paper-kite">
        <a href="{{url}}"><i class="icofont-logout"></i></a>
    </div>
{% endblock %}

{% block feeds %}
    <ul class="feeds-list">
        {% for post in posts %}
            <li class="feed-item" id="{{post.post.key.id()}}">
                <div class="item-block">
                    <div class="accounts-details">
                        <img src="{{profile_image}}">
                        <span><strong>{{post.created_by.username}}</strong></span>
                    </div>
                    <div class="post-image">
                        <img src="{{post.image_url}}">
                    </div>
                    <div class="post-details">
                        <div class="post-texts">
                            <div class="likes" style="font-size: 10px;">
                                <!-- <strong>2 likes</strong> -->
                            </div>
                            <div class="index-post-caption text-truncate" style="font-size: 12px;">
                                <span><strong>{{post.created_by.username}}</strong></span>&nbsp; {{post.post.post_caption}}
                            </div>
                            <div class="comments">
                                <div class="duration" style="font-size: 10px; color: #999;">
                                    {% if post.post.comments|length > 0 %}
                                        <strong>View all {{post.post.comments|length}} comments</strong>
                                        <ul class="comment-list">
                                        {% for comment in sortPosts(post.post.comments) %}
                                            <li class="text-dark comment-item">
                                                <strong>{{comment.created_by}}</strong> &nbsp;&nbsp; {{comment.text_body}}
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <div class="comment-form">
                                        <form action="/post/{{post.post.key.id()}}/add-comment" method="POST" style="position: relative;">
                                            <img class="comment-profile-img" src="{{profile_image}}">
                                            <input type="text" class="text-dark text-change" name="comment" placeholder="Add a comment..." maxlength="200" id="comment">
                                            <input disabled class="text-white bg-info post-button" type="submit" value="Post" style="display: inline !important;">
                                            <small></small>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="duration" style="font-size: 10px; color: #999;">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
