.instagram-view-header {
    width: 1;
    display: flex;
    flex-direction: row;
}

.camera-text, .paper-kite, .header-label {
    display: flex;
    align-items: center;
}

.camera-text, .header-label {
    width: calc(100% - 50px);
    padding-left: 15px;
}

.paper-kite {
    width: 50px;
    justify-content: center;
}

.header-label, .paper-kite {
    font-size: 18px;
}

.paper-kite a {
    color: #666;
}

.paper-kite a:hover {
    text-decoration: none;
}

.feeds-list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.feed-item {
    width: 100%;

    margin-bottom: 20px;
}

.item-block {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.accounts-details {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
}

.accounts-details img {
    width: 35px;
    height: 35px;

    border-radius: 100%;
    margin-left: 10px;
    margin-right: 5px;
}

.post-image {
    width: 100%;
}

.post-image img{
    width: 100%;
}

.post-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.comment-like {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-like span {
    margin: 0 10px;
    font-size: 24px;
}

.post-texts {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.index-post-caption {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.comment-profile-img{
    width: 35px;
    height: 35px;

    border-radius: 100%;
}

.comment-form form input {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    font-weight: 900;

    border: none;
    outline: none;

    font-size: 13px;
}

.comment-form form .post-button {
    width: 50px;
    height: 35px;
    padding-left: 5px;
    font-weight: 900;

    border: none;
    outline: none;

    font-size: 13px;

    border-radius: 15px;
}

.comment-form form {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#text-count-indicator {
    position: absolute;
    top: 0;
    right: 15%;

    color: #555;
    font-size: 10px;
}

.comment-list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    padding-bottom: 25px;

    position: relative;
}

.comment-item {
    width: 100%;
    height: 20px;

    display: flex;
    align-items: center;

    border-bottom: 1px solid #f0f0f0;

    padding: 0 10px;
}

.comment-item:last-child {
    border: none;
    margin-bottom: 10px;
}

.more-comment {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 100%;
    text-align: center;
    color: #000;
}

.more-comment:hover {
    color: #000;
}

.comment-body, .comment-by {
    width: 100%;
    display: block;
}

.comment-body {
    min-height: 20px;
    word-wrap: break-word;
    color: #666;
    line-height: 16px;
}

.comment-by {
    height: 15px;
    font-size: 13px;
    text-align: end;
}
